{% extends "@AppBundle/Resources/views/Template/index.html.twig" %}

{% block banner %}
<section id="banner">
	<div class="inner">
		<h2 class="major special">Symfony CMS</h2>
		<p>Simple Description</p>
		<ul class="actions vertical">
			<li><a href="{{ path('fos_user_registration_register') }}" class="button special big">Sign up</a></li>
			<li><a href="{{ path('fos_user_security_login') }}" class="button big scrolly">Sign in</a></li>
		</ul>
	</div>
</section>
{% endblock %}

{% block title %}Symfony CMS{% endblock title %}
{% block body %}
{{ body|raw }}
{% endblock body %}
