/private
*.DS_Store
*.php~
/.gitignore
/.web-server-pid
/web/themes/*
/web/config.rb
/web/assets
/web/bundles/
/web/media
/web/uploads/*
/web/admin/assets
/web/admin/themes
/app/Resources/views/themes
/app/config/parameters.yml
/app/config/parameters.custom.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/var/cache/*
/var/logs/*
/var/sessions/*
