/private
*.DS_Store
*.php~
*config.rb
/.gitignore
/.web-server-pid
/web/themes/*
!/web/themes/default
/web/config.rb
/web/assets
/web/bundles/
/web/media
/web/uploads/*
/web/admin/assets
/web/admin/sass
/app/Resources/views/themes/*
/app/Resources/views/themes/default/_static/*
!/app/Resources/views/themes/default/_static/privacy.html.twig
!/app/Resources/views/themes/default/_static/term.html.twig
!/app/Resources/views/themes/default
!/app/Resources/views/themes/skeleton
/app/config/parameters.yml
/app/config/parameters.custom.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/var/cache/*
/var/logs/*
/var/sessions/*

