parameters:
    database_host: 127.0.0.1
    database_port: ~
    database_name: symfony
    database_user: root
    database_password: ~

    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_user: ~
    mailer_password: ~

    secret: ThisTokenIsNotSoSecretChangeIt

    image_count: 4
    
    mailer_address: info@example.com
    mailer_name: 'Code6 CMS'
    
    project_dir: '%kernel.project_dir%'
    upload_path: '%kernel.project_dir%/web/uploads'
    upload_uri: /uploads

    facebook_app_id: ~
    stripe_application_fee: 10
    stripe_connect_client_id: ca_XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
    stripe_secret_token: sk_test_XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
    stripe_email: info@example.com
    stripe_zip: 1230001
    
    theme_name: ~
