{% trans_default_domain 'message' %}
{% extends admin_template_layout() %}
{% block title %}{{ 'resetting.title.request'|trans() }}{% endblock %}

{% block fos_user_content %}
<p>{{ 'message.resetting.request.confirm'|trans }}</p>
{% endblock fos_user_content %}
