{% trans_default_domain 'message' %}

<form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request row uniform">

	<div class="3u 12u$(xsmall)">
		<label>{{ 'entity.user.email'|trans() }}*</label>
	</div>
	<div class="9u$ 12u$(xsmall)">
		<input type="text" id="username" name="username" required="required" placeholder="例) yourname@example.com" />
	</div>
	
	<div class="3u 12u$(xsmall)">
		&nbsp;
	</div>
	<div class="9u$ 12u$(xsmall)">
		<input type="submit" class="special" value="{{ 'resetting.button.submit'|trans }}" />
	</div>

</form>
