{% trans_default_domain 'message' %}
{% extends "AppBundle:Template:layout.html.twig" %}
{% block title %}{{ 'resetting.title.request'|trans() }}{% endblock %}

{% block fos_user_content %}
<p>{{ 'message.resetting.request.confirm'|trans }}</p>
{% endblock fos_user_content %}
