{% trans_default_domain 'message' %}
{% extends "themes/default/layout.html.twig" %}

{% block title %}{{ 'contact.title.completed'|trans }}{% endblock title %}
{% block body %}
<p>{{ getSetting('contacted_description') }}</p>
{% endblock %}
