{% trans_default_domain 'message' %}
{% extends "themes/"~theme_name~"/layout.html.twig" %}
{% block title %}{{ 'resetting.title.request'|trans() }}{% endblock %}

{% block fos_user_content %}

<form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request row gtr-uniform">

<div class="col-3 col-12-small">
{{ 'entity.user.email'|trans() }}
</div>

<div class="col-9 col-12-small">
<input type="text" id="username" name="username" required="required" placeholder="例) yourname@example.com" />
</div>
	
<div class="col-3 col-12-small"></div>
<div class="col-9 col-12-small">
<input type="submit" class="special" value="{{ 'form.button.submit'|trans }}" />
</div>

</form>
{% endblock fos_user_content %}
