{% trans_default_domain 'message' %}
{% extends '@AppBundle/Resources/views/Template/layout.html.twig' %}

{% block title %}{{ 'config.title.new'|trans }}{% endblock title %}
{% block body %}
<p>サイトの初期設定が完了しました。ログインして管理画面へ進んでください。</p>
<p>
<a href="{{ path('fos_user_security_login') }}" class="button special">LOGIN</a>
</p>
{% endblock %}
