{% trans_default_domain 'message' %}
{% extends admin_template_layout() %}

{% block banner %}
{% endblock %}

{% block title %}招待機能有効・無効{% endblock title %}
{% block body %}

<div class="row uniform">

{{ form_start(form, {'attr':{'class':'row uniform'}}) }}
	<div class="6u 12u">
		<div class="select-wrapper">
			{{ form_widget(form.slug) }}
			{{ form_widget(form.value) }}
		</div>
	</div>
	<div class="6u 12u$">
		<input type="submit" class="special fit" value="モードを変更する" id="submit-button">
	</div>
	<div class="12u$">
		<p>招待機能を有効・無効にできます。メンバーモードも同時にONにしてください。ユーザ登録ができません。</p>
	</div>
{{ form_end(form) }}

</div>

{% endblock body %}
