{% trans_default_domain 'message' %}
{% extends admin_template_layout() %}

{% block banner %}
{% endblock %}

{% block title %}メンバーモード{% endblock title %}
{% block body %}

<div class="row uniform">

{{ form_start(form, {'attr':{'class':'row uniform'}}) }}
	<div class="6u 12u">
		<div class="select-wrapper">
			{{ form_widget(form.slug) }}
			{{ form_widget(form.value) }}
		</div>
	</div>
	<div class="6u 12u$">
		<input type="submit" class="special fit" value="変更する" id="submit-button">
	</div>
	<div class="12u$">
		<p>会員登録が可能となり、会員専用の記事などを表示することができるサイトとなります。ログインページ、登録ページなどのテンプレートなどを設定してください。</p>
	</div>
{{ form_end(form) }}

</div>

{% endblock body %}
